{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
<style>
    .img{
    background: url({% static 'images/bg.jpg' %});
    background-repeat:no-repeat;
    background-size: cover;
    }
    section{
    padding-top: 80px;
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    }
</style>
</head>

<body class="img">
<center>
<section>
<form class="form-control" method="post" action="register">
    {% csrf_token %}
    <label>Username</label>
        <input type="text" name="username"  placeholder="Enter your username"><br>

        <label>First Name</label>
        <input type="text" name="first_name"  placeholder="Enter your first name"><br>


        <label>Last Name</label>
        <input type="text" name="last_name"  placeholder="Enter your last name"><br>


            <label>E-mail</label>
            <input type="email" name="email" placeholder="Enter your email id"><br>




            <label>Password</label>
            <input type="password" name="password" placeholder="******"><br>


            <label>Confirm password</label>
            <input type="password" name="conpassword" placeholder="******"><br>


              <input type="submit">



</form>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
</section>
</center>
</body>
</html>